<div class="container"
     style="margin-top: 25%">
  <div class="card">
    <div class="card-body">
      <app-textarea [_text]="text"></app-textarea>


      <div class="input-group mb-3">
        <input type="text" class="form-control" [ngClass]="inputClass"
               placeholder="{{ gameStarted ? '' : 'Start typing to begin'}}"
               [attr.disabled]="gameEnded ? '' : null"
               [(ngModel)]="input"
               (keyup)="processInput()"
        >
        <div class="input-group-append">
          <app-timer *ngIf="gameStarted" (gameEnded)="endGame($event)"></app-timer>
          <span *ngIf="gameEnded" class="btn btn-danger" id="basic-addon2" (click)="restart()">Restart</span>
        </div>
      </div>

      <div class="card-footer footer" *ngIf="gameEnded">
        <h2>You scored {{result}} WPM!</h2>
      </div>
    </div>
  </div>
</div>
